.blog-logo img {
  display: none !important;
}

.post-footer {
    display: none !important;
}

div.main-header-content.inner h1, div.main-header-content.inner h2 {
  color: #333;
  text-shadow: 1px 1px #909090;
}

div.main-header-content.inner h2 {
  background: rgba(0, 0, 0, 0.39);
  color: #333;
  text-shadow: 1px 1px #909090;
}
